@use "variables" as *;

body{
    background-color: $theme-color;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .main-icon{
        margin-bottom: 16px;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37.5%;
        img{
            width: 100%;
        }
        h2{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 24px;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;

            label{
                font-weight: 700;
            }
            input{
                width: 100%;
                height: 47px;
                padding: 12px 16px;
                border: none;
                border-radius: 10px;
                font-size: 16px;
            }
            .input-content{
                width: 100%;
            }
            .input-set{
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                gap: 4px;
                p{  
                    font-size: 14px;
                    color: $theme-color-text-light;
                }
            }
            .mainpage-btns{
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                width: 128px;
                button{
                    font-size: 16px;
                    height: 47px;
                    border-radius: 10px;
                    border: none;
                    background-color: transparent;
                }
                >:first-child{
                    background-color: $theme-color-dark;
                    color: $theme-color-text-light-2;
                }
            }
        }
    }
}

.hidden{
    display: none !important;
}
.reverse{
    flex-direction: column-reverse !important;
    >:last-child{
        background-color: $theme-color-dark !important;
        color: $theme-color-text-light-2 !important;
    }
    >:first-child{
        background-color: transparent !important;
        color: $theme-color-dark !important;
    }
}



@media (max-width: 768px){
    main{
        flex-direction: column;
        .rwd-hidden{
            display: none;
        }
        .col{
            width: 100%;
            padding: 0 32px;
            h2{
                justify-self: center;
            }
        }
    }
}