$theme-color: #FFD370;
$theme-color-text-light: #D87355;
$theme-color-dark: #333333;
$theme-color-text-light-2: #FFFFFF;
$text-color-gray: #9F9A91;
$line-color-gray: #EFEFEF;


$category-position: var(--category-position);